test/dtds/test.dtd

<!DOCTYPE note [
<!ELEMENT note (#PCDATA)>
<!-- <!ELEMENT note (to,from,heading,body)> -->
<!ELEMENT to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body (#PCDATA)>


<!ATTLIST note NAME CDATA #FIXED "test">
<!ATTLIST note CHAN CDATA #IMPLIED "Bien sur">
<!ATTLIST from VTR CDATA #IMPLIED>
<!ATTLIST body RATING CDATA #IMPLIED>
]> 
