test/dtds/test.dtd

<! note [
<!-- <!ELEMENT note (#PCDATA)> -->
<!ELEMENT note (to,else)>
<!-- <!ELEMENT note (to+,(from|to),heading*,body?)> -->
<!-- <!ELEMENT note (to*,from?,(nom|prenom),body+,(head|headin|truc),date  naissance)> -->
<!ELEMEN to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body (#PCDATA)>

<!ATTLIST from VTR CDATA #IMPLIED>
<!ATTLIST body RATING CDATA #IMPLIED>
]> 
