test/dtds/test.dtd

<!DOCTYPE note [
<!-- <!ELEMENT note (#PCDATA)> -->
<!-- <!ELEMENT note (to+,(from|to),heading*,body?)> -->
<!ELEMENT note (to*,from?,(nom|prenom),body+,(head|headin|truc),date  naissance)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body (#PCDATA)>


<!ATTLIST note NAME CDATA #FIXED "test">
<!ATTLIST note CHAN CDATA #IMPLIED "Bien sur">
<!ATTLIST from VTR CDATA #IMPLIED>
<!ATTLIST body RATING CDATA #IMPLIED>
]> 
